// This file is globally included so all pages will include this, however it is
// provided as a baseline for _handheld.scss and other @media-specific
// stylesheets

nav.site {
  position: absolute;
  top: 1.2em;
  right: 100%;
  z-index: 5;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    display: block;
    @include transform-origin(100%, 0px);
    @include transform($rotate: 90deg, $translateX: 100%);
    white-space: nowrap;

    li {
      font-size: small;
      display: inline-block;
      white-space: normal;

      a {
        display: block;
        padding: ($shadowSize + 2px) 20px 5px 10px;
        border: 1px solid #666;
        border-top: 0px;
        background: #444;
        color: #bbb;
        text-decoration: none;
        @include box-shadow(2px, 2px, #999999, 2px);

        &:hover {
          background: #333;
          color: #ddd;
// TODO: Make this effect look right
//            @include box-shadow(1px, 1px, #999999, 1px);
        }
      }
    }
  }
}

body {
  > * {
    width: 960px;
    @include box-sizing(border-box);
  }
}
