---
layout: html
---
<article id="main" class="post">
  <header>
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
    </hgroup>
    <p class="posted-time">
      Written by
      <span class="author">
        {% if page.author %}
          <a href="mailto:{{ page.author.email }}">{{ page.author.name }}</a>
        {% else %}
          <a href="mailto:{{ site.author.email }}">{{ site.author.name }}</a>
        {% endif %}
      </span>
      at
      <span class="date">
        {{ page.date | date: '%A, %d %B %Y - %H:%M' }}
      </span>
    </p>
    {% if page.updated %}
    <p class="updated-time">
      Last updated: <span class="date">{{ page.updated | date: '%A, %d %B %Y - %H:%M' }}</span>
    </p>
    {% endif %}
    <nav class="tags">
      <strong>Tags:</strong> <ul>
        {% for tag in page.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  {{ content }}

  <footer>
    {% include disqus.html %}
  </footer>
</article>
